html { height: 100%; width: 100%; margin: 0;}
body { height: 100%; width: 100%; margin: 0; background-image: url("../img/bg.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center; }
.sidebar {
  top: 0px;
  width: 270px;
  height: 100%;
  background-color: #708090;
  position: fixed;
}

.clock{
	float:right;
	border: 3px grey;
	padding: 30px 30px 30px 30px;
	background-color: #F8F8FF;
	margin-right:473px;
	margin-top:50px;
	border-style: outset;
	border-radius: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 45px;
  width: 100%;
  background-color: #666666;
  color: white;
  text-align: center;
}

#logo{ padding-left:73px; padding-top: 30px; }

.mainmenu, .submenu, a.title {
  list-style: none;
  padding: 0;
  padding-top: 0px;
  margin: 0;
}

.title{
	font-weight: bold;
	font-size: 20px;
}

.mainmenu a {
  font-size: 15px;
  font-family:Verdana, Geneva, sans-serif;
  display: block;
  background-color: #708090;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  color: #000;

}

.mainmenu a:hover {
    background-color: #647382;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 800px;
}

.submenu a {
  background-color: #c5ccd3;
}

.submenu a:hover {
  background-color: #b7bfc8;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.students_info {
  font-family: sans-serif;
}
.students {
  position: relative;
  left:50px;
}

.facebook img {
  position: relative;
	top: 0px;
	left:-104px;
  width: 100px;
  opacity:0;
}

.facebook img:hover {
  opacity:0.6;
}
