/************/
/************/
/*** APPS ***/
/************/
/************/

.app_container
{
	position: absolute;
	width: calc(100% / 3);
	top: 5mm;
	height: 3.5cm;
	border: 0.2mm solid black;
	background-color: lightgrey;
	transform: translate(-0.1mm, 0);
}

#iGuide_container
{
	border-bottom-left-radius: 3mm;
}

#iWay_container
{
	left: calc(100% / 3);
}

#iGroup_container
{
	left: calc(200% / 3);
	border-bottom-right-radius: 3mm;
}

.app_icon
{
	position: absolute;
	width: 12mm;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.app_name
{
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12pt;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#apps_menu_notification_icon
{
	position: absolute;
	left: 1.5mm;
	top: 14mm;
	width: 4mm;
	height: 3.5mm;
	background-color: white;
	border: 0.1mm solid black;
	border-radius: 3mm;
	font-size: 6.5pt;
	font-weight: bold;
	text-align: center;
	padding-top: 0.5mm;
}
