html, body {height: 100%; width: 100%; margin: 0;}

#igo_body{
	position: absolute;
	background-color: white;
	top: 50%;
	left: 50%;
	margin: -3cm 0 0 -4cm;
	width: 6cm;
	height: 4cm;
	z-index: 2;
	border: 1.3mm solid black;
	border-radius: 6.5mm;
}

#igo_buttons{
	position: absolute;
	background-color: lightgrey;
	right: 0pt;
	width: 1cm;
	height: 4cm;
	z-index: 1;
	border-top-right-radius: 5mm;
	border-bottom-right-radius: 5mm;
	
}

#home_button{
	position: absolute;
	width: 8mm;
	height: 8mm;
	top: 20%;
	left: 50%;
	margin: -4mm 0 0 -4mm;
}

#back_button{
	position: absolute;
	width: 8mm;
	height: 8mm;
	bottom: 8%;
	left: 50%;
	margin: -4mm 0 0 -4mm;
}