/*****************/
/*****************/
/*** MAIN MENU ***/
/*****************/
/*****************/

/* Top container */

#main_menu_top_container
{
	z-index: 2;
	position: absolute;
	width: 5cm;
	height: 1cm;
	border-top-right-radius: 3mm;
	border-top-left-radius: 3mm;
  border-bottom-color: #9b9e99;
  border-bottom: 0.5mm solid #696969;
  background-color: #3e3e3e;
  color: whitesmoke;
}

.main_menu_top_icon
{
	position: absolute;
	width: 6mm;
	height: 6mm;
	top: 2mm;
}

#battery_icon
{
	left: 4mm;
}

#wifi_icon
{
	left: 14mm;
}

#main_menu_clock
{
	width: 1.7cm;
	right: 8mm;
	margin-top: 0;
	font-size: 19pt;
	font-weight: 0.1em;
	color: white;
}

/* Left container */

#main_menu_right_container
{
	z-index: 3;
	position: absolute;
	width: 1cm;
	height: 3cm;
	left: 0;
	top: 1cm;
	background-color: transparent;
	border-top-right-radius: 3mm;
	border-bottom-right-radius: 3mm;
}

.main_menu_right_icon
{
	position: absolute;
	left: 3mm;
	width: 5mm;
	height: 5mm;
	padding: 1mm;
	border-radius: 1.5mm;
	background-color: #F6F6F6;
	box-shadow: 0 0 2pt gray;
}

.main_menu_right_icon:active
{
	background-color: #BBBBBB;
}

#apps_icon
{
	top: 2.5mm;
}

#location_icon
{
	top: 11.5mm;
}

#options_icon
{
	top: 20.5mm;
}

#main_menu_notification_icon
{
	position: absolute;
  top: 5.5mm;
  width: 4mm;
  height: 3.5mm;
  background-color: lightgray;
  border: 0.1mm solid black;
  border-radius: 3mm;
  font-size: 6.5pt;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5mm;
}

/* Center container */

#main_menu_center_container
{
	z-index: 1;
	position: absolute;
	width: 5cm;
	left: 0;
	height: 3cm;
	top: 9.8mm;
	background-image: url("img/main_bg.jpeg");
	background-size: cover;
	border-bottom-left-radius: 3mm;
	border-bottom-right-radius: 3mm;
}

#weather
{
	position: absolute;
	height: 70%;
	width: 60%;
	top: 8mm;
	left: 24mm;
}

#city_name {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	left: 3cm;
	top: 3mm;
	font-size: 18pt;
	transform: translate(-50%, 0);
}

#degrees
{
	position: absolute;
	font-family: "Lucida Console", Lucida, monospace;
	top: 14mm;
	left: 13mm;
	font-size: 28pt;
}
