html, body {height: 100%; width: 100%; margin: 0; position: absolute;}

/**********************
 *****            *****
 *****   SCREEN   *****
 *****            *****
 **********************/

.screen_container
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5cm;
	height: 4cm;
}
 
#screen_container_base
{
	z-index: 2;
	margin-top: -2cm;
	margin-left: -2.5cm;
	background-color: white;
	border-radius: 3mm;
}

#screen_container_frame
{
	z-index: 3;
	margin-top: -21.3mm;
	margin-left: -26.3mm;
	background-color: transparent;
	border: 1.3mm solid black;
	border-radius: 5mm;
	pointer-events: none;
}

.screen
{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	border-radius: 3mm;
}

/*************/
/* Main menu */
/*************/

/* Top container */

#main_menu_top_container
{
	position: absolute;
	width: 5cm;
	height: 1cm;
	top: -0.2mm;
	left: -0.2mm;
	background-color: grey;
	border: 0.2mm solid black;
	border-top-right-radius: 3mm;
	border-top-left-radius: 3mm;
}

.main_menu_top_icon
{
	position: absolute;
	width: 6mm;
	height: 6mm;
	top: 2mm;
}

#battery_icon
{
	left: 1mm;
}

#wifi_icon
{
	left: 8mm;
}

#clock
{
	position: absolute;
	right: 14mm;
	top: 2mm;
	font-family: courier;
	font-size: 18pt;
	font-weight: bold;
}


/* Right container */

#main_menu_right_container
{
	position: absolute;
	width: 1cm;
	height: 4cm;
	top: -0.2mm;
	right: 0;
	border: 0.2mm solid black;
	background-color: lightgrey;
	border-top-right-radius: 3mm;
	border-bottom-right-radius: 3mm;
}

.main_menu_right_icon
{
	position: absolute;
	width: 6mm;
	height: 6mm;
	right: 2mm;
}

#apps_icon
{
	top: 2mm;
}

#location_icon
{
	top: 12mm;
}

#options_icon
{
	top: 32mm;
}

/* Center container */

#main_menu_center_container{
	position: absolute;
	width: 4cm;
	height: 3cm;
	top: 0.98cm;
	left: -0.5mm;
	background: url("img/backgrd.png");
	border: 0.2mm solid black;
	border-bottom-left-radius: 3mm;
}

#weather{
	position: absolute;
	height: 70%;
	width: 70%;
	top: 0.7cm;
	left: 1.6cm;
}

#city_name{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	left: 1.10cm;
	top: 0.3cm;
	font-size: 23px;
}

#degrees{
	position: absolute;
	font-family: "Lucida Console",Lucida,monospace;
	font-size: 40px;
	top: 1.25cm;
	left: 0.3cm;
}


/***********************
 *****             *****
 *****   BUTTONS   *****
 *****             *****
 ***********************/

#buttons_container
{
	z-index: 1;
	position: absolute;
	background-color: lightgrey;
	top: 50%;
	left: 50%;
	margin-top: -21.3mm;
	margin-left: 13.7mm;
	width: 2cm;
	height: 4cm;
	border: 1.3mm solid black;
	border-radius: 5mm;
}

.button
{
	position: absolute;
	width: 7mm;
	height: 7mm;
	right: 0.8mm;
	margin: -3.5mm 0 0 -3.5mm;
}

#home_button
{
	top: 8mm;
}

#back_button
{
	bottom: 4.5mm;
}

/*Apps_Top_Container*/
#apps_top_container
{
	position: absolute;
	width: 5cm;
	height: 0.40cm;
	top: -0.2mm;
	left: -0.2mm;
	background-color: grey;
	border: 0.2mm solid black;
	border-top-right-radius: 3mm;
	border-top-left-radius: 3mm;
}
#apps_iGuide_container
{
	position: absolute;
	width: 1.75cm;
	height: 3.6cm;
	top: 0.4cm;
	border: 0.2mm solid black;
	background-color: lightgrey;
	border-bottom-left-radius: 3mm;
}

#iGuide_icon
{
	position: absolute;
	width: 1.5cm;
	top: 0.75cm;
	left: 0.1cm;
}

#iGuide_text
{
	position: absolute;
	top:2cm;
	left: 0.2cm;
	font-family: courier;
	font-size: 10pt;
	font-weight: bold;
}
