/**************/
/**************/
/*** IGROUP ***/
/**************/
/**************/

.iGroup_screen h1
{
	font-size: 10pt;
    text-align: center;
    /* padding-left: 5mm; */
    margin-top: 1mm;
    margin-bottom: 1mm;
    top: 5mm;
    position: relative;
	color: #646161;
	font-family: Tahoma, Geneva, sans-serif;
}

.iGroup_screen h2
{
	font-size: 7pt;
    padding-left: 5.5mm;
	margin-top: -2mm; 
    /* margin-bottom: 1mm; */
	position: relative;
    top: 2mm;
	font-family: Tahoma, Geneva, sans-serif;
	color: #181818;
}

.iGroup_screen input
{
    margin-left: 0.5mm;
    border-radius: 2mm;
    border: 0.2mm solid grey;
    width: 4cm;
    margin-left: 5mm;
}

.iGroup_screen button
{
	margin: 2mm;
}

.iGroup_screen hr
{
	margin-left: 5mm;
}

.iGroup_error_message
{
	/* padding-left: 5mm; */
    visibility: hidden; 
    color: red;
    font-size: 7pt;
    left: 2.6cm;
    position: relative;
	font-family: Tahoma, Geneva, sans-serif;
}

#iGroup_createGroup
{
	background-color: limegreen;
}

#iGroup_myGroups
{
	background-color: #2954ff;
}

.iGroup_mainButton
{
	    left: 2.5mm;
    width: 4.45cm;
    height: 1cm;
    border-radius: 3mm;
    position: relative;
    top: 5mm;
    text-align: center;
    margin-bottom: 2mm;
    border: 0.3mm solid #49474745;
}

.iGroup_main_icon
{
	position: absolute;
	left: 2.5mm;
	top: 50%;
	transform: translateY(-50%);
	width: 0.8cm;
	height: 0.8cm;
}

.iGroup_main_text
{
	position: absolute;
	width: 3cm;
	right: 2mm;
	top: 50%;
	transform: translateY(-50%);
	font-size: 11pt;
}

.iGroup_list
{
  top: 6mm;
  left: -0.2mm;
  width: 5cm;
  margin-top: 1.5mm;
  padding-left: 0;
  border-bottom-left-radius: 3mm;
  border-bottom-right-radius: 3mm;
}

.iGroup_list_item
{
	position: relative;
 	width: 4.3cm;
	height: 1cm;
	left: 2.5mm;
  	margin: 1mm 0 1mm 0;
	padding-left: 3mm;
 	font-family: Verdana, sans-serif;
	font-size: 10pt;
  	display: flex;
  	background-color: white;
  	align-items: center;
  	border-radius: 2mm;
}

.iGroup_list_item_icon
{
	position: relative;
	height: 0.5cm;
	width: 0.5cm;
	padding-right: 1mm;
	display: block;
}

.iGroup_list_item_plus
{
	position: relative;
	height: 0.25cm;
	width: 0.25cm;
	bottom: -1mm;
	left: -3mm;
	z-index: 1;
}

.iGroup_date{
	font-size: 9px;
	position: relative;
	right: -6.5mm;
}

.iGroup_inbox_title{
	position: relative;
	font-size: 10px;
	left: 0.60cm;
	width: 53%;
}

.iGroup_event_name{
	position: relative;
	font-size: 10px;
	left: 0.60cm;
	width: 53%;
}

#iGroup_group_main_body
{
  position: absolute;
}

#iGroup_group_addMember_body
{
	overflow-y: scroll;
}

#iGroup_mainButton_style{
	    margin-top: -1mm;
    width: 4.03cm;
    left: 0;
    border-radius: 2mm;
    border: 0.3mm solid #49474745;
    color: whitesmoke;
    background-color: limegreen;
    height: 0.6cm;
    font-size: 8pt;
    top: 3mm;
    margin-left: 5mm;
}

#Name_error_message{
	left: 3cm;
}

#Location_error_message{
	left: 2.3cm;
}

#Date_error_message{
	left: 3cm;
}
